.jumbotron {
  margin-left: 32%;
  margin-top: 8%;
  width: 36%;
  padding-top: 10px;
}

.jumbotron hr {
  background: white;
  height: 1px;
  width: 100%;
  border: 0;
}

.main-card {
  width: 50%;
  margin-left: 25%;
  margin-top: 7%;
  font-weight: bold;
  text-align: center;
}

.main-card h5 {
  font-size: 50px;
}

.main-card h6 {
  font-size: 35px;
}

.main-card form input {
  width: 50%;
  margin-left: 35%;
}

.udp-upload{
  margin-left: 45%;
}
