html, body {
    overflow: hidden;
}

.background {
    /* The image used */
    /*background-image: url("/LayerApp/loadImage?imagePath=D:/upload-directory-pictures/FoodBackground.jpg");*/

    /* Center and scale the image nicely */
    background: no-repeat center;
    background-size: cover;
}

.header {
    position: absolute;
    width: 100%;
}

.errorTitle {
    font-size: 70px;
    color: white;
}

.little-text {
    font-size: 20px;
    color: white;
}

/* link style */
a {
    color: lightgray;
}
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    color: white;
}

a:active {
    text-decoration: none;
}

button {
    margin: 3%;
}

