/* not active */
.nav-pills .account-sidebar-pill .nav-link:not(.active) {
    background-color: white;
    color: rgb(100, 100, 150);
}

/* active (faded) */
.nav-pills .account-sidebar-pill .nav-link {
    background-color: rgb(100, 100, 150);
}

.account-sidebar-pill
{
    width: 100%;
}