.navi{
	display: flex;
	flex-direction: row;
    height: 50px;
}

.navi-addpost{
	cursor: pointer;
}

.navi div{
	text-align: center;
	text-decoration: none;
}

.navi-left{
	flex: 2 0 0;
	background-color: rgba(48, 48, 48, 1);
}

.navi-logo{
	position: absolute;
	left: 10%;
	height: 100px;
	width: 100px;
	border-radius: 100%;
	background: url("../../media/logo.png") no-repeat;
	background-size: 100%;
}

.navi-right{
	flex: 1 0 0;
	display: flex;
	flex-direction: row;
	background-color: rgba(48, 48, 48, 1);

}

.navi-button{
	font-size: 14px;
	color: white;
	outline: none;
	padding: 14px 16px;
	background-color: rgba(48, 48, 48, 1);
	border: none;
	text-decoration: none;
}

.navi-right button:hover{
	background-color: rgba(100, 100, 100, 1);
}
.selected--flag--option {
	color: white;
}
.menu-flags{
	margin-top: 10px;
}
.country-flag img {
	vertical-align: unset;
}

.flag-option .has-label{
	background-color:white;
}