.jumbotron {
  border-radius: 5px;
}

.user-delete-form {
  margin-left: 32%;
  margin-top: 8%;
  width: 36%;
}

.user-delete-form form {
  padding: 0px 50px !important;
}

.btn-submit {
  margin-top: 10px;
  width: 20%;
  height: 15%;
  margin-left: 40%;
}

.badge {
  width: 62%;
  margin-left: 19%;
  border-radius: 5px !important;
  height: 20px !important;
  font-size: 12px !important;
}
