<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
             xsi:schemaLocation="http://www.springframework.org/schema/beans

    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/security
    http://www.springframework.org/schema/security/spring-security.xsd">

    <beans:bean name="bcrypt"
                class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder"/>

    <beans:bean id="customAuthenticationProvider" class="com.teamZero.app.core.provider.CustomAuthenticationProvider"/>

    <http pattern="/ws/**" security="none"/>
    <http pattern="/subscribe/**" security="none"/>
    <http auto-config="true" use-expressions="true">
        <csrf disabled="true"/>
        <intercept-url pattern="/loginForm"  access="permitAll()"/>
        <intercept-url pattern="/backoffice/account/register"  access="permitAll()"/>
        <intercept-url pattern="/backoffice/**" access="hasRole('ROLE_ADMIN')" />
        <intercept-url pattern="/user/**" access="hasAnyRole('ROLE_USER', 'ROLE_ADMIN')" />
        <intercept-url pattern="/user/**" access="hasAnyRole('ROLE_USER', 'ROLE_ADMIN')" />
        <intercept-url pattern="/job-offer-user/**" access="hasAnyRole('ROLE_USER', 'ROLE_ADMIN')" />
        <intercept-url pattern="/job-offer-admin/**" access="hasAnyRole('ROLE_USER', 'ROLE_ADMIN')" />
        <form-login login-page='/loginForm' />
        <logout/>
    </http>

    <authentication-manager>
        <authentication-provider ref="customAuthenticationProvider">
        </authentication-provider>
    </authentication-manager>





</beans:beans>

